.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #4b0082;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 24px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.form p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input[type="number"],
select {
  width: 15%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input[type="color"],
select{
  width: 20%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #4b0082;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e00a3;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}